# Database Credentials (These matches the default docker setup)
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=maritime_intel

# External APIs (Evaluator must provide their own keys or use yours if you provide them privately)
GEMINI_API_KEY=your_gemini_key_here
GROQ_API_KEY=your_groq_key_here

# Vector Database (Qdrant)
QDRANT_URL=your_qdrant_url_here
QDRANT_API_KEY=your_qdrant_key_here

# Local Database URL (For running python scripts outside of Docker)
DATABASE_URL=postgresql://admin:secret@localhost:5433/maritime_intel

API_URL=http://localhost:8000


